*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#dest{
    border-bottom: solid 2px white;
}

#moon.active{
    border-bottom: solid 2px white;
}
#mars.active{
    border-bottom: solid 2px white;
}
#europa.active{
    border-bottom: solid 2px white;
}
#titan.active{
    border-bottom: solid 2px white;
}


body{
    background-image: url(/starter-code/assets/destination/background-destination-mobile.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 115vh;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 20px;
}
.menu{
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.star{
    background: white;
    border-radius: 50%;
    position: relative;
    left: 20px;
    height: 45px;
    width: 45px;
}
.line{
  display: none;
}
nav{
    display: flex;
    align-items: center;
}
.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 50vh;
    list-style: none;
    position: absolute;
    top: -1000%;
    left: 0;
    backdrop-filter: blur(30px);
    transition: 0.6s;
    text-transform: uppercase;
    z-index: 999;
    
}
.fa-xmark{
    font-size: 25px;
    position: absolute;
    right: 20px;
    top: 9px;
    color: #D0D6F9;
    cursor: pointer;
}
.navbar li a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: solid 2px transparent;
}
.navbar li:hover{
    border-bottom: solid 2px rgb(183, 178, 178);
}
.navbar li{
    margin-top: 40px;
    height: 30px;
    border-bottom: solid 2px transparent;
}
  .middle2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}
img{
    width: 170px;
    height: 170px;
    border-bottom: solid 0.1px rgb(65, 64, 64);
    border-radius: 50%;
    margin-top: 25px;
}
.head2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
.head2 span{
    color: rgb(88, 88, 88);
    font-weight: 800;
    margin-right: 5px;
}
.head2 p{
    font-size: 17px;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
}

  .middle2 ul{
    display: flex;
    flex-direction: row;
    width: 220px;
    justify-content: space-between;
    list-style: none;
    text-transform: uppercase;
    height: 25px;
}
  .middle2 ul li{
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
    color: #D0D6F9;
    font-size: 14px;
    height: 100%;
    cursor: pointer;
}
  .middle2 ul li:hover{
  border-bottom: solid 2px rgb(183, 178, 178);
}

  .middle2 .moon{
    font-size: 50px;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    font-weight: 1;
    margin-top: 15px;
    color: white;
}
  .middle2 .parag{
    width: clamp(280px,100%,490px);
    height: 125px;
    text-align: center;
    padding: 10px;
    font-family: 'Barlow Condensed', sans-serif;
    color:#D0D6F9;
    margin-top: -12px;
}
  .middle2 .line2{
    background: rgba(255, 255, 255, 0.377);
    width: 250px;
    height: 1px;
    margin-top: 15px;
}
.foot{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 190px;
    height: 110px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.foot1 p , .foot2 p{
    font-size: 10px;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    color:#D0D6F9;
}
.foot1 h3 , .foot2 h3{
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'Bellefair', serif;
    font-weight: 1;
    margin-top: 5px;
    color: white;
}


@media screen and (min-width: 580px){
    body{
        background-image: url(/starter-code/assets/destination/background-destination-tablet.jpg);
        height: 99vh;
    }
    .menu{
        display: none;
    }
    .navbar{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        backdrop-filter: blur(80px);
        background-color: rgb(24, 29, 52);
        
    }
    nav{
        width: 70%;
        position: relative;
        top: 0;
        left: 0;
    }
    .navbar i{
        display: none;
    }
    .navbar li{
        margin-top: 0;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .navbar li a{
        font-size: 13px;
    }
    .head2 p{
        font-size: 17px;
        width: 90%;
    }
    .head2{
        margin-top: 25px;
    }
    .middle2 .parag{
        font-size: 18px;
    }
    .middle2 .line2{
        background: rgba(255, 255, 255, 0.377);
        width: 470px;
        height: 1px;
        margin-top: 0;
    }
    .foot{
        flex-direction: row;
        margin-top:20px;
        width: 280px;
        height: 100%;
        align-items: flex-start;
    }
    .foot1 p, .foot2 p{
        font-size: 14px;
    }
    .foot1 h3, .foot2 h3{
        font-size: 24px;
        margin-top: 10px;
    }
}
@media screen and (min-width: 917px){
    body{
        background-image: url(/starter-code/assets/destination/background-destination-desktop.jpg);
        height: 97vh;
    }
    .line{
        display: block;
        width: 32%;
        height: 0.2px;
        background: rgba(255, 255, 255, 0.377);
        position: absolute;
        top: 29px;
        left: 10%;
        z-index: 9999;
    }
    nav{
        width: 60%;
        height: 60px;
    }
    .navbar{
        justify-content: flex-start;
        background-color:  #8999f54c;
        backdrop-filter: blur(7px);
    }
    .navbar li{
        margin-right: 10px;
    }
    .navbar li a{
        font-size: 10px;
    }
    .navbar li a:hover{
        border-bottom: solid 2px rgba(255, 255, 255, 0.377);
    }
    .navbar li:hover{
        border-bottom: transparent;
    }
    .navbar li :first-child{
        margin-left: 60px;
    }
    .all{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 80vh;
    }
    .head2{
        width: 550px;
        justify-content: flex-start;
        margin-top: 40px;
        padding-left: 50px;
    }
    .middle2{
        width: 450px;
        height: 400px;
        align-items: flex-start;
        padding: 0;
        margin-top: 150px;
    }
    .middle2 .parag{
        text-align: start;
        width: 360px;
        padding: 0;
        margin-top: 15px;
        margin-left: 40px;
    }
   .middle2 .moon{
        font-size: 70px;
        width: 80%;
        margin-left: 40px;
    }
    .head2 img{
        height: 350px;
        width: 350px;
        margin-top: 60px;
    }
    .head2 p{
        font-size: 23px;
        font-weight: 400;
    }
    .middle2 .line2{
       width: 80%;
       margin-top: 30px;
       margin-left: 40px;
    }
    .middle2 ul{
        width: 240px;
        justify-content: space-between;
        margin-left: 25px;
    }
    .foot{
        margin-left: 30px;
    }
}
@media screen and (min-width: 1080px){
    .navbar{
        width: 80%;
        left: 20%;
    }
    .line{
        width: 43%;
    }
    body{
        height: 97vh;
    }
}